:root {
  --width-target: calc(100vw / 6);
  --height-target: calc(100vh / 3);
  --size: min(var(--width-target), var(--height-target));
  --margin-vertical: calc((100vh - var(--size) * 2) / 2);
  --margin-horizontal: calc((100vw - var(--size) * 5) / 2);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: white;
  overflow: hidden;
  text-align: center;
  font-family: monospace;
  font-size: var(--size);
  line-height: var(--size);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px #fff;
}

body {
  margin-bottom: var(--margin-vertical);
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
  margin-top: var(--margin-vertical);
}

body>* {
  width: 100%;
}

body>div {
  height: var(--size);
  text-shadow: 0 0 5px #fff;
}

#bip {
  cursor: pointer;
}

#bip:not(.hidden)::after {
  content: 'bip322';
}

#bip:not(.hidden):hover::after {
  content: 'verify';
}

#verify {
  display: flex;
  justify-content: center;
}

#verify-form {
  display: none;
  flex-direction: column;
  gap: 24px;
  width: 67%;
}

#verify-form.visible {
  display: flex;
}

#verify-button {
  cursor: pointer;
}

input[type="text"] {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  font-size: calc(var(--size) * 0.12);
}

button {
  background-color: #fff;
  text-shadow: 0 0 2px black;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: calc(var(--size) * 0.12);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: calc(var(--size) * 0.2);
}

.navbar a:hover {
  color: #fff;
  text-decoration: underline;
}
